/* variables */
:root {
    --background: #F6F6F8;
    --foreground: #E3E3E3;
    --accent: #C60021;

    --padding: 2rem;
    --scaled-padding: 5%;
}

* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--background);
}

.title {
    padding: var(--padding);
    background-color: var(--foreground);
    font-weight: bolder;
    font-size: xx-large;
}

main {
    padding-top: calc(var(--scaled-padding));
    padding-left: calc(var(--scaled-padding));
    padding-right: calc(var(--scaled-padding));
    background-color: var(--background);
}

#result {
    font-weight: bold;
    font-size: large;
}